* {
    margin: 0;
    padding: 0;
}
.navbar{
  background-color: darkslategray;
}
.hero{
    background: url(/image.webp) no-repeat;
    background-size: cover;
    height: 100vh;
}
.navbar ul li{
    list-style: none;
    margin: 0 4px;
    display: inline-block;
    line-height: 80px;
}
.navbar ul li a{
    color:white;
    text-decoration: none;
    margin-left: 200px;
    margin-top: 10px;
    margin-right: 10px;
}
.navabar button{
  background-color: blue;
  color: black;

}
.single{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    background-color: rgb(213, 226, 222);
}
.single1{
    margin-left: 90px;
 color: crimson;
 margin-top: 130px;
}
.Servicess{
    margin-left: 20px;
}
.menu{
    color: brown;
    margin-left: 580px;
}
.kkk{
    color: brown;
    margin-left: 580px;

}
.ppp{
    color: brown;
    margin-left: 580px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .footer-section {
    flex-basis: 30%;
  }
  
  .footer-section h2 {
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .footer-section li {
    margin-bottom: 10px;
  }
  
  .footer-section a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .fa {
    font-size: 24px;
    margin-right: 10px;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   background-color: burlywood;
    }
    
    .card {
    width: 250px;
    height: 350px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    }
    .card-image {
      height: 150px;
      overflow: hidden;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      }
      
      .card-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      }
      
      .card-content {
      padding: 20px;
      }
      
      .card-actions {
      padding: 20px;
      text-align: center;
      }
      button {
      background-color: red;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        }
        
        button:hover {
       background-color: red;
        }
       .jpg{
        margin-left: 600px;
        color: brown;
       }
                        